<!doctype html>
<html>
  <head>
    <title>React Boilerplate</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
    <div id="app"><%- reactOutput %></div>

    <!-- comment out main.js to see server side only rendering -->
    <script src="/common.chunk.js"></script>
    <script src="/app.js"></script>

  </body>
</html>
